<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="SolarNetwork Gemini" sequenceNumber="514">
<locations>
<location path="${workspace_loc:/solarnetwork-osgi-target/support}" type="Directory"/>
<location path="${workspace_loc:/solarnetwork-osgi-target/gemini-web/dep}" type="Directory"/>
<location path="${workspace_loc:/solarnetwork-osgi-target/gemini-blueprint}" type="Directory"/>
<location path="${workspace_loc:/solarnetwork-osgi-target/gemini-web}" type="Directory"/>
<location path="${workspace_loc:/solarnetwork-osgi-target/spring}" type="Directory"/>
<location path="${workspace_loc:/solarnetwork-osgi-target/platform}" type="Directory"/>
<location path="${workspace_loc:/solarnetwork-osgi-target/cxf}" type="Directory"/>
<location path="${workspace_loc:/solarnetwork-osgi-target/source}" type="Directory"/>
<location path="${workspace_loc:/solarnetwork-osgi-target/unit-test}" type="Directory"/>
<location path="${workspace_loc:/solarnetwork-osgi-target/virgo}" type="Directory"/>
</locations>
<includeBundles>
<plugin id="bcpkix"/>
<plugin id="bcpkix.source"/>
<plugin id="bcprov"/>
<plugin id="bcprov.source"/>
<plugin id="classmate"/>
<plugin id="com.amazonaws.aws-java-sdk-osgi"/>
<plugin id="com.amazonaws.aws-java-sdk-osgi.source"/>
<plugin id="com.fasterxml.jackson.core.jackson-annotations"/>
<plugin id="com.fasterxml.jackson.core.jackson-core"/>
<plugin id="com.fasterxml.jackson.core.jackson-core.source"/>
<plugin id="com.fasterxml.jackson.core.jackson-databind"/>
<plugin id="com.fasterxml.jackson.core.jackson-databind.source"/>
<plugin id="com.fasterxml.jackson.dataformat.jackson-dataformat-cbor"/>
<plugin id="com.fasterxml.jackson.datatype.jackson-datatype-joda"/>
<plugin id="com.hazelcast"/>
<plugin id="com.springsource.javax.activation"/>
<plugin id="com.springsource.org.apache.commons.beanutils"/>
<plugin id="com.springsource.org.apache.commons.collections"/>
<plugin id="com.springsource.org.apache.commons.digester"/>
<plugin id="com.springsource.org.apache.xalan"/>
<plugin id="com.springsource.org.apache.xerces"/>
<plugin id="com.springsource.org.apache.xml.resolver"/>
<plugin id="com.springsource.org.apache.xml.serializer"/>
<plugin id="com.springsource.org.apache.xmlcommons"/>
<plugin id="com.sun.xml.fastinfoset.FastInfoset" version="1.2.17"/>
<plugin id="io.netty.buffer"/>
<plugin id="io.netty.codec"/>
<plugin id="io.netty.codec-http"/>
<plugin id="io.netty.codec-mqtt"/>
<plugin id="io.netty.common"/>
<plugin id="io.netty.handler"/>
<plugin id="io.netty.resolver"/>
<plugin id="io.netty.transport"/>
<plugin id="javax.annotation"/>
<plugin id="javax.ejb"/>
<plugin id="javax.el"/>
<plugin id="javax.mail"/>
<plugin id="javax.persistence"/>
<plugin id="javax.security.auth.message"/>
<plugin id="javax.servlet"/>
<plugin id="javax.servlet.jsp"/>
<plugin id="javax.transaction"/>
<plugin id="javax.validation.api"/>
<plugin id="javax.websocket"/>
<plugin id="javax.xml.rpc"/>
<plugin id="javax.xml.soap"/>
<plugin id="jcl.over.slf4j"/>
<plugin id="joda-time"/>
<plugin id="log4j"/>
<plugin id="net.sf.ehcache"/>
<plugin id="net.sf.supercsv.super-csv"/>
<plugin id="net.sf.supercsv.super-csv.source"/>
<plugin id="org.apache.catalina"/>
<plugin id="org.apache.catalina.ha"/>
<plugin id="org.apache.catalina.tribes"/>
<plugin id="org.apache.commons.codec"/>
<plugin id="org.apache.commons.fileupload"/>
<plugin id="org.apache.commons.io"/>
<plugin id="org.apache.commons.lang3"/>
<plugin id="org.apache.commons.lang3.source"/>
<plugin id="org.apache.coyote"/>
<plugin id="org.apache.cxf.cxf-core"/>
<plugin id="org.apache.cxf.cxf-core.sources"/>
<plugin id="org.apache.cxf.cxf-rt-bindings-soap"/>
<plugin id="org.apache.cxf.cxf-rt-bindings-xml"/>
<plugin id="org.apache.cxf.cxf-rt-databinding-jaxb"/>
<plugin id="org.apache.cxf.cxf-rt-frontend-jaxws"/>
<plugin id="org.apache.cxf.cxf-rt-frontend-jaxws.sources"/>
<plugin id="org.apache.cxf.cxf-rt-frontend-simple"/>
<plugin id="org.apache.cxf.cxf-rt-transports-http"/>
<plugin id="org.apache.cxf.cxf-rt-ws-addr"/>
<plugin id="org.apache.cxf.cxf-rt-ws-policy"/>
<plugin id="org.apache.cxf.cxf-rt-wsdl"/>
<plugin id="org.apache.el"/>
<plugin id="org.apache.felix.bundlerepository"/>
<plugin id="org.apache.felix.bundlerepository.source"/>
<plugin id="org.apache.felix.eventadmin"/>
<plugin id="org.apache.felix.fileinstall"/>
<plugin id="org.apache.felix.fileinstall.source"/>
<plugin id="org.apache.felix.gogo.command"/>
<plugin id="org.apache.felix.gogo.runtime"/>
<plugin id="org.apache.felix.gogo.shell"/>
<plugin id="org.apache.httpcomponents.httpclient"/>
<plugin id="org.apache.httpcomponents.httpcore"/>
<plugin id="org.apache.jasper"/>
<plugin id="org.apache.juli"/>
<plugin id="org.apache.neethi"/>
<plugin id="org.apache.servicemix.bundles.aopalliance"/>
<plugin id="org.apache.servicemix.bundles.asm"/>
<plugin id="org.apache.servicemix.bundles.aspectj"/>
<plugin id="org.apache.servicemix.bundles.aspectj.source"/>
<plugin id="org.apache.servicemix.bundles.c3p0"/>
<plugin id="org.apache.servicemix.bundles.c3p0.source"/>
<plugin id="org.apache.servicemix.bundles.derby"/>
<plugin id="org.apache.servicemix.bundles.hamcrest"/>
<plugin id="org.apache.servicemix.bundles.javax-cache-api"/>
<plugin id="org.apache.servicemix.bundles.javax-cache-api.source"/>
<plugin id="org.apache.servicemix.bundles.junit"/>
<plugin id="org.apache.servicemix.bundles.spring-aop"/>
<plugin id="org.apache.servicemix.bundles.spring-aspects"/>
<plugin id="org.apache.servicemix.bundles.spring-beans"/>
<plugin id="org.apache.servicemix.bundles.spring-context"/>
<plugin id="org.apache.servicemix.bundles.spring-context-support"/>
<plugin id="org.apache.servicemix.bundles.spring-core"/>
<plugin id="org.apache.servicemix.bundles.spring-expression"/>
<plugin id="org.apache.servicemix.bundles.spring-jdbc"/>
<plugin id="org.apache.servicemix.bundles.spring-messaging"/>
<plugin id="org.apache.servicemix.bundles.spring-orm"/>
<plugin id="org.apache.servicemix.bundles.spring-security-acl"/>
<plugin id="org.apache.servicemix.bundles.spring-security-config"/>
<plugin id="org.apache.servicemix.bundles.spring-security-core"/>
<plugin id="org.apache.servicemix.bundles.spring-security-taglibs"/>
<plugin id="org.apache.servicemix.bundles.spring-security-web"/>
<plugin id="org.apache.servicemix.bundles.spring-test"/>
<plugin id="org.apache.servicemix.bundles.spring-tx"/>
<plugin id="org.apache.servicemix.bundles.spring-web"/>
<plugin id="org.apache.servicemix.bundles.spring-webmvc"/>
<plugin id="org.apache.servicemix.bundles.spring-websocket"/>
<plugin id="org.apache.servicemix.bundles.wsdl4j"/>
<plugin id="org.apache.servicemix.specs.stax-api-1.0"/>
<plugin id="org.apache.taglibs.standard-impl"/>
<plugin id="org.apache.taglibs.taglibs-standard-spec"/>
<plugin id="org.apache.tiles-autotag-core-runtime"/>
<plugin id="org.apache.tiles-request-api"/>
<plugin id="org.apache.tiles-request-jsp"/>
<plugin id="org.apache.tiles-request-servlet"/>
<plugin id="org.apache.tiles-template"/>
<plugin id="org.apache.tiles.api"/>
<plugin id="org.apache.tiles.core"/>
<plugin id="org.apache.tiles.el"/>
<plugin id="org.apache.tiles.jsp"/>
<plugin id="org.apache.tiles.servlet"/>
<plugin id="org.apache.tomcat.api"/>
<plugin id="org.apache.tomcat.jdbc"/>
<plugin id="org.apache.tomcat.jdbc.source"/>
<plugin id="org.apache.tomcat.jni"/>
<plugin id="org.apache.tomcat.util"/>
<plugin id="org.apache.tomcat.util.scan"/>
<plugin id="org.apache.tomcat.websocket"/>
<plugin id="org.apache.ws.xmlschema.core"/>
<plugin id="org.easymock"/>
<plugin id="org.easymock.source"/>
<plugin id="org.eclipse.equinox.cm"/>
<plugin id="org.eclipse.equinox.cm.source"/>
<plugin id="org.eclipse.equinox.console"/>
<plugin id="org.eclipse.gemini.blueprint.core"/>
<plugin id="org.eclipse.gemini.blueprint.core.source"/>
<plugin id="org.eclipse.gemini.blueprint.extender"/>
<plugin id="org.eclipse.gemini.blueprint.extender.source"/>
<plugin id="org.eclipse.gemini.blueprint.io"/>
<plugin id="org.eclipse.gemini.blueprint.io.source"/>
<plugin id="org.eclipse.gemini.web.core"/>
<plugin id="org.eclipse.gemini.web.extender"/>
<plugin id="org.eclipse.gemini.web.jaspic.fragment"/>
<plugin id="org.eclipse.gemini.web.tomcat"/>
<plugin id="org.eclipse.jdt.core.compiler.batch"/>
<plugin id="org.eclipse.osgi"/>
<plugin id="org.eclipse.osgi.source"/>
<plugin id="org.eclipse.paho.client.mqttv3"/>
<plugin id="org.eclipse.paho.client.mqttv3.source"/>
<plugin id="org.eclipse.virgo.medic"/>
<plugin id="org.eclipse.virgo.util.common" version="3.7.2.RELEASE"/>
<plugin id="org.eclipse.virgo.util.io" version="3.7.2.RELEASE"/>
<plugin id="org.eclipse.virgo.util.math" version="3.7.2.RELEASE"/>
<plugin id="org.eclipse.virgo.util.osgi" version="3.7.2.RELEASE"/>
<plugin id="org.eclipse.virgo.util.osgi.manifest" version="3.7.2.RELEASE"/>
<plugin id="org.eclipse.virgo.util.parser.manifest" version="3.7.2.RELEASE"/>
<plugin id="org.eclipse.virgo.web.dm"/>
<plugin id="org.ehcache.ehcache"/>
<plugin id="org.hibernate.validator"/>
<plugin id="org.jboss.logging.jboss-logging"/>
<plugin id="org.json"/>
<plugin id="org.jvnet.jaxb2_commons.jaxb2-basics-runtime"/>
<plugin id="org.mybatis.mybatis"/>
<plugin id="org.mybatis.mybatis-spring"/>
<plugin id="org.mybatis.mybatis-spring.source"/>
<plugin id="org.mybatis.mybatis.source"/>
<plugin id="org.osgi.service.obr"/>
<plugin id="org.osgi.service.obr.source"/>
<plugin id="org.postgresql.jdbc42"/>
<plugin id="org.postgresql.jdbc42.source"/>
<plugin id="org.quartz-scheduler.quartz"/>
<plugin id="org.quartz-scheduler.quartz.source"/>
<plugin id="org.slf4j.osgi-over-slf4j"/>
<plugin id="org.springframework.security.web.source"/>
<plugin id="osgi.cmpn"/>
<plugin id="osgi.enterprise"/>
<plugin id="slf4j.api"/>
<plugin id="slf4j.log4j12"/>
<plugin id="software.amazon.ion.java"/>
<plugin id="stax2-api" version="4.2.0"/>
<plugin id="woodstox-core-asl"/>
	<plugin id="org.apache.commons.commons-compress"/>
	<plugin id="org.tukaani.xz"/>
	<plugin id="jul.to.slf4j"/>
	<plugin id="org.mitre.dsmiley.http-proxy-servlet"/>
	<plugin id="org.mitre.dsmiley.http-proxy-servlet.source"/>
	<plugin id="org.apache.httpcomponents.httpclient.source"/>
	<plugin id="org.apache.httpcomponents.httpcore.source"/>
	<plugin id="com.zaxxer.HikariCP.source"/>
	<plugin id="com.zaxxer.HikariCP"/>
	<plugin id="com.google.protobuf.source"/>
	<plugin id="com.google.protobuf"/>
	<plugin id="org.apache.servicemix.bundles.javax-inject.source"/>
	<plugin id="org.apache.servicemix.bundles.javax-inject"/>
	<plugin id="jakarta.annotation-api"/>
	<plugin id="jakarta.jws-api"/>
	<plugin id="jakarta.xml.bind-api"/>
	<plugin id="jakarta.xml.soap-api"/>
	<plugin id="jakarta.xml.ws-api"/>
	<plugin id="io.netty.netty-transport.source"/>
	<plugin id="io.netty.netty-handler.source"/>
	<plugin id="io.netty.netty-common.source"/>
	<plugin id="io.netty.netty-codec.source"/>
	<plugin id="io.netty.netty-codec-mqtt.source"/>
	<plugin id="io.netty.netty-codec-http.source"/>
	<plugin id="io.netty.netty-buffer.source"/>
	<plugin id="com.fasterxml.jackson.dataformat.jackson-dataformat-xml"/>
	<plugin id="com.fasterxml.woodstox.woodstox-core"/>
	<plugin id="stax2-api" version="3.1.4"/>
	<plugin id="com.fasterxml.jackson.module.jackson-module-jaxb-annotations"/>
	<plugin id="net.solarnetwork.external.jakarta-xml-bind-api-default-runtime"/>
	<plugin id="org.apache.servicemix.bundles.jaxb-runtime"/>
	<plugin id="org.jvnet.staxex.stax-ex"/>
	<plugin id="javassist"/>
	<plugin id="org.apache.servicemix.bundles.ognl"/>
	<plugin id="com.fasterxml.jackson.datatype.jackson-datatype-jsr310.source"/>
	<plugin id="com.fasterxml.jackson.datatype.jackson-datatype-jsr310"/>
	<plugin id="jakarta.activation-api"/>
	<plugin id="org.ehcache.ehcache.source"/>
	<plugin id="org.apache.servicemix.bundles.stringtemplate"/>
	<plugin id="org.apache.servicemix.bundles.stringtemplate.source"/>
	<plugin id="org.apache.servicemix.bundles.antlr-runtime"/>
	<plugin id="org.apache.servicemix.bundles.antlr-runtime.source"/>
	<plugin id="com.openhtmltopdf.core"/>
	<plugin id="com.openhtmltopdf.pdfbox"/>
	<plugin id="com.openhtmltopdf.slf4j"/>
	<plugin id="com.openhtmltopdf.svg-support"/>
	<plugin id="org.apache.pdfbox"/>
	<plugin id="org.apache.pdfbox.xmpbox"/>
	<plugin id="org.apache.pdfbox.fontbox"/>
	<plugin id="org.apache.servicemix.bundles.batik"/>
	<plugin id="org.apache.servicemix.bundles.commons-io"/>
	<plugin id="org.apache.servicemix.bundles.xmlgraphics-commons"/>
	<plugin id="org.lucee.xml.apisext"/>
	<plugin id="org.jsoup"/>
</includeBundles>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.8"/>
<launcherArgs>
<vmArgs>-Declipse.ignoreApp=true -Dosgi.noShutdown=true -Dsn.home=${workspace_loc:solarnetwork-osgi-target} -Dsolarnetwork.vardir=${workspace_loc:solarnetwork-osgi-target/var} -Dxml.catalog.files=${workspace_loc:solarnetwork-osgi-lib}/xml-catalog/catalog.xml -Dderby.system.home=${workspace_loc:solarnetwork-osgi-target}/var/db -Djava.util.logging.config.file=config/jre-logging.properties -Dosgi.java.profile=file:config/java8-server.profile -Dorg.apache.felix.eventadmin.ThreadPoolSize=4 -Dorg.apache.felix.eventadmin.Timeout=120000 -Dfelix.fileinstall.dir=configurations/services -Dfelix.fileinstall.filter=.*\.cfg -Dfelix.fileinstall.noInitialDelay=true -Djava.awt.headless=true</vmArgs>
</launcherArgs>
</target>