<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="SolarNetwork Gemini" sequenceNumber="287">
<locations>
<location path="${workspace_loc:/solarnetwork-osgi-target/virgo}" type="Directory"/>
<location path="${workspace_loc:/solarnetwork-osgi-target/unit-test}" type="Directory"/>
<location path="${workspace_loc:/solarnetwork-osgi-target/platform}" type="Directory"/>
<location path="${workspace_loc:/solarnetwork-osgi-target/gemini/dep}" type="Directory"/>
<location path="${workspace_loc:/solarnetwork-osgi-target/gemini}" type="Directory"/>
<location path="${workspace_loc:/solarnetwork-osgi-target/spring}" type="Directory"/>
<location path="${workspace_loc:/solarnetwork-osgi-target/source}" type="Directory"/>
<location path="${workspace_loc:/solarnetwork-osgi-target/support}" type="Directory"/>
</locations>
<includeBundles>
<plugin id="derby"/>
<plugin id="org.springframework.faces.source"/>
<plugin id="org.springframework.web"/>
<plugin id="org.eclipse.virgo.medic"/>
<plugin id="org.eclipse.virgo.util.math"/>
<plugin id="com.springsource.org.apache.tiles.servlet.source"/>
<plugin id="com.springsource.javax.activation"/>
<plugin id="org.springframework.core"/>
<plugin id="org.springframework.osgi.core"/>
<plugin id="org.apache.tiles.el"/>
<plugin id="org.springframework.webflow"/>
<plugin id="com.springsource.org.aspectj.weaver.source"/>
<plugin id="com.springsource.org.apache.commons.collections"/>
<plugin id="slf4j.log4j12"/>
<plugin id="com.springsource.javax.ejb"/>
<plugin id="org.springframework.transaction"/>
<plugin id="org.springframework.web.servlet"/>
<plugin id="com.springsource.org.apache.juli.extras.springsource"/>
<plugin id="org.springframework.test"/>
<plugin id="com.springsource.org.codehaus.jackson.source"/>
<plugin id="com.springsource.org.apache.commons.beanutils"/>
<plugin id="org.springframework.faces"/>
<plugin id="com.springsource.javax.transaction"/>
<plugin id="com.springsource.javax.persistence"/>
<plugin id="org.apache.tiles.core"/>
<plugin id="org.eclipse.virgo.util.osgi"/>
<plugin id="joda-time.source"/>
<plugin id="org.apache.tiles-template"/>
<plugin id="com.springsource.org.apache.tomcat.jdbc.source"/>
<plugin id="com.springsource.com.ibatis"/>
<plugin id="com.springsource.org.apache.commons.codec"/>
<plugin id="org.springframework.js"/>
<plugin id="com.springsource.org.apache.catalina.springsource"/>
<plugin id="com.springsource.org.aopalliance"/>
<plugin id="org.springframework.context.support.source"/>
<plugin id="org.eclipse.gemini.web.tomcat"/>
<plugin id="joda-time"/>
<plugin id="org.springframework.aspects"/>
<plugin id="org.springframework.jdbc.source"/>
<plugin id="com.springsource.javax.annotation"/>
<plugin id="com.springsource.javax.xml.bind"/>
<plugin id="com.springsource.org.apache.commons.digester"/>
<plugin id="org.springframework.beans"/>
<plugin id="slf4j.api"/>
<plugin id="org.springframework.aop.source"/>
<plugin id="org.springframework.core.source"/>
<plugin id="com.springsource.org.apache.commons.csv"/>
<plugin id="org.springframework.aspects.source"/>
<plugin id="com.springsource.org.apache.catalina.ha.springsource"/>
<plugin id="org.springframework.osgi.io"/>
<plugin id="com.springsource.org.eclipse.jdt.core.compiler.batch"/>
<plugin id="org.springframework.web.source"/>
<plugin id="org.eclipse.virgo.web.dm"/>
<plugin id="org.apache.felix.fileinstall"/>
<plugin id="com.springsource.org.codehaus.jackson.mapper.source"/>
<plugin id="com.springsource.org.apache.catalina.tribes.springsource"/>
<plugin id="org.springframework.asm"/>
<plugin id="com.springsource.javax.xml.stream"/>
<plugin id="osgi.cmpn"/>
<plugin id="com.springsource.org.quartz"/>
<plugin id="com.springsource.org.quartz.source"/>
<plugin id="org.springframework.aop"/>
<plugin id="com.springsource.org.apache.coyote.springsource"/>
<plugin id="org.springframework.security.config.source"/>
<plugin id="org.apache.felix.eventadmin"/>
<plugin id="org.springframework.orm"/>
<plugin id="com.springsource.javax.validation"/>
<plugin id="org.springframework.security.core"/>
<plugin id="org.springframework.expression"/>
<plugin id="org.springframework.web.servlet.source"/>
<plugin id="com.springsource.org.apache.el.springsource"/>
<plugin id="org.apache.felix.fileinstall.source"/>
<plugin id="com.springsource.javax.mail"/>
<plugin id="com.springsource.javax.xml.rpc"/>
<plugin id="org.eclipse.gemini.web.extender"/>
<plugin id="org.springframework.jdbc"/>
<plugin id="com.springsource.javax.servlet.jsp.jstl"/>
<plugin id="com.springsource.org.jboss.el"/>
<plugin id="org.eclipse.gemini.web.core"/>
<plugin id="org.springframework.security.acls"/>
<plugin id="org.apache.tiles.api"/>
<plugin id="org.springframework.security.web"/>
<plugin id="jcl.over.slf4j"/>
<plugin id="com.springsource.org.apache.tomcat.jdbc"/>
<plugin id="com.springsource.net.sf.ehcache"/>
<plugin id="jackson-core-asl"/>
<plugin id="org.springframework.binding"/>
<plugin id="org.springframework.webflow.source"/>
<plugin id="org.springframework.security.taglibs"/>
<plugin id="org.apache.felix.utils"/>
<plugin id="com.springsource.javax.el"/>
<plugin id="org.eclipse.virgo.util.common"/>
<plugin id="org.eclipse.virgo.util.parser.manifest"/>
<plugin id="org.springframework.context.support"/>
<plugin id="com.springsource.org.aspectj.weaver"/>
<plugin id="com.springsource.javax.servlet"/>
<plugin id="org.springframework.test.source"/>
<plugin id="org.springframework.context"/>
<plugin id="org.springframework.binding.source"/>
<plugin id="org.springframework.security.acls.source"/>
<plugin id="org.springframework.osgi.extender"/>
<plugin id="org.springframework.context.source"/>
<plugin id="com.springsource.javax.faces"/>
<plugin id="org.eclipse.virgo.util.io"/>
<plugin id="com.springsource.javax.xml.soap"/>
<plugin id="org.springframework.js.source"/>
<plugin id="com.springsource.org.apache.tiles.core.source"/>
<plugin id="org.springframework.asm.source"/>
<plugin id="org.eclipse.osgi"/>
<plugin id="com.springsource.org.apache.log4j"/>
<plugin id="org.eclipse.equinox.cm"/>
<plugin id="org.springframework.expression.source"/>
<plugin id="org.springframework.transaction.source"/>
<plugin id="com.springsource.org.junit"/>
<plugin id="org.apache.tiles.servlet"/>
<plugin id="osgi.enterprise"/>
<plugin id="org.springframework.security.taglibs.source"/>
<plugin id="com.springsource.com.ibatis.source"/>
<plugin id="com.springsource.javax.xml.ws"/>
<plugin id="org.springframework.orm.source"/>
<plugin id="org.springframework.security.core.source"/>
<plugin id="org.apache.tiles.servlet.wildcard"/>
<plugin id="joda-time-jsptags"/>
<plugin id="org.springframework.beans.source"/>
<plugin id="com.springsource.org.apache.jasper.springsource"/>
<plugin id="com.springsource.org.tuckey.web.filters.urlrewrite"/>
<plugin id="jackson-mapper-asl"/>
<plugin id="com.springsource.javax.servlet.jsp"/>
<plugin id="org.springframework.security.web.source"/>
<plugin id="org.apache.tiles.jsp"/>
<plugin id="org.springframework.osgi.core.source"/>
<plugin id="org.springframework.security.config"/>
</includeBundles>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.6"/>
<launcherArgs>
<vmArgs>-Dderby.system.home=${workspace_loc:solarnetwork-osgi-target}/var/db -Dosgi.java.profile=file:config/java6-server.profile -Dorg.apache.felix.eventadmin.Timeout=120000 -Dfelix.fileinstall.dir=configurations/services -Dfelix.fileinstall.filter=.*\.cfg -Dfelix.fileinstall.noInitialDelay=true</vmArgs>
</launcherArgs>
</target>
