<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="SolarNetwork Gemini" sequenceNumber="411">
<locations>
<location path="${workspace_loc:/solarnetwork-osgi-target/platform}" type="Directory"/>
<location path="${workspace_loc:/solarnetwork-osgi-target/source}" type="Directory"/>
<location path="${workspace_loc:/solarnetwork-osgi-target/unit-test}" type="Directory"/>
<location path="${workspace_loc:/solarnetwork-osgi-target/gemini-web}" type="Directory"/>
<location path="${workspace_loc:/solarnetwork-osgi-target/gemini-web/dep}" type="Directory"/>
<location path="${workspace_loc:/solarnetwork-osgi-target/virgo}" type="Directory"/>
<location path="${workspace_loc:/solarnetwork-osgi-target/support}" type="Directory"/>
<location path="${workspace_loc:/solarnetwork-osgi-target/gemini-blueprint}" type="Directory"/>
<location path="${workspace_loc:/solarnetwork-osgi-target/spring}" type="Directory"/>
</locations>
<includeBundles>
<plugin id="javax.annotation"/>
<plugin id="javax.ejb"/>
<plugin id="javax.persistence"/>
<plugin id="org.springframework.security.core.source"/>
<plugin id="javax.validation.api"/>
<plugin id="org.apache.tiles.servlet"/>
<plugin id="javax.xml.rpc"/>
<plugin id="org.springframework.binding.source"/>
<plugin id="org.springframework.web.servlet.source"/>
<plugin id="org.springframework.test"/>
<plugin id="com.datastax.driver.core"/>
<plugin id="javax.el"/>
<plugin id="com.springsource.net.sf.ehcache"/>
<plugin id="org.springframework.core"/>
<plugin id="org.apache.felix.eventadmin"/>
<plugin id="org.springframework.context"/>
<plugin id="com.springsource.org.aspectj.weaver.source"/>
<plugin id="org.apache.tiles.servlet.wildcard"/>
<plugin id="org.easymock"/>
<plugin id="org.springframework.jdbc"/>
<plugin id="org.springframework.asm.source"/>
<plugin id="net.sf.ehcache"/>
<plugin id="classmate"/>
<plugin id="org.eclipse.virgo.util.osgi.manifest"/>
<plugin id="org.apache.tomcat.api"/>
<plugin id="org.springframework.webflow"/>
<plugin id="org.eclipse.gemini.web.tomcat"/>
<plugin id="org.springframework.orm.source"/>
<plugin id="org.eclipse.jdt.core.compiler.batch"/>
<plugin id="org.eclipse.gemini.blueprint.io"/>
<plugin id="org.springframework.asm"/>
<plugin id="org.eclipse.gemini.blueprint.extender"/>
<plugin id="org.apache.catalina.ha"/>
<plugin id="org.springframework.expression.source"/>
<plugin id="org.apache.tiles.core"/>
<plugin id="org.springframework.aspects.source"/>
<plugin id="org.springframework.web.servlet"/>
<plugin id="org.apache.felix.fileinstall.source"/>
<plugin id="javax.servlet.jsp"/>
<plugin id="org.eclipse.virgo.util.io"/>
<plugin id="org.apache.commons.fileupload"/>
<plugin id="org.springframework.aop.source"/>
<plugin id="org.springframework.context.source"/>
<plugin id="org.springframework.security.web.source"/>
<plugin id="derby"/>
<plugin id="org.apache.juli.extras"/>
<plugin id="org.eclipse.virgo.util.common"/>
<plugin id="com.springsource.org.apache.commons.codec"/>
<plugin id="javax.xml.soap"/>
<plugin id="net.sf.supercsv.super-csv" version="2.1.0"/>
<plugin id="slf4j.api"/>
<plugin id="com.springsource.org.junit"/>
<plugin id="javax.mail"/>
<plugin id="org.apache.tomcat.util"/>
<plugin id="org.springframework.expression"/>
<plugin id="com.springsource.org.apache.commons.beanutils"/>
<plugin id="com.codahale.metrics.core"/>
<plugin id="org.eclipse.gemini.web.extender"/>
<plugin id="org.eclipse.virgo.medic"/>
<plugin id="com.springsource.org.aopalliance"/>
<plugin id="bcpkix.source"/>
<plugin id="org.springframework.binding"/>
<plugin id="com.springsource.javax.activation"/>
<plugin id="org.springframework.security.taglibs"/>
<plugin id="org.eclipse.equinox.cm"/>
<plugin id="joda-time"/>
<plugin id="bcprov"/>
<plugin id="com.springsource.org.quartz"/>
<plugin id="javax.transaction"/>
<plugin id="org.springframework.security.acls"/>
<plugin id="com.springsource.org.aspectj.weaver"/>
<plugin id="org.eclipse.gemini.blueprint.extender.source"/>
<plugin id="org.eclipse.osgi"/>
<plugin id="org.apache.coyote"/>
<plugin id="org.apache.tiles.el"/>
<plugin id="slf4j.log4j12"/>
<plugin id="org.apache.catalina"/>
<plugin id="org.springframework.test.source"/>
<plugin id="org.eclipse.virgo.web.dm"/>
<plugin id="org.springframework.security.core"/>
<plugin id="bcprov.source"/>
<plugin id="org.jboss.logging.jboss-logging"/>
<plugin id="org.springframework.security.config"/>
<plugin id="org.apache.jasper"/>
<plugin id="org.eclipse.virgo.util.osgi"/>
<plugin id="org.easymock.source"/>
<plugin id="org.eclipse.virgo.util.parser.manifest"/>
<plugin id="osgi.cmpn"/>
<plugin id="com.springsource.org.apache.tiles.core.source"/>
<plugin id="jcl.over.slf4j"/>
<plugin id="org.springframework.security.taglibs.source"/>
<plugin id="org.springframework.orm"/>
<plugin id="org.eclipse.osgi.source"/>
<plugin id="org.springframework.jdbc.source"/>
<plugin id="org.eclipse.gemini.blueprint.core"/>
<plugin id="org.springframework.transaction.source"/>
<plugin id="org.springframework.aspects"/>
<plugin id="com.springsource.org.quartz.source"/>
<plugin id="org.springframework.transaction"/>
<plugin id="org.eclipse.virgo.util.math"/>
<plugin id="com.springsource.org.apache.commons.collections"/>
<plugin id="bcpkix"/>
<plugin id="com.google.guava"/>
<plugin id="org.apache.felix.utils"/>
<plugin id="org.eclipse.gemini.blueprint.io.source"/>
<plugin id="org.springframework.core.source"/>
<plugin id="org.springframework.js"/>
<plugin id="org.apache.tiles-template"/>
<plugin id="org.springframework.beans"/>
<plugin id="org.apache.tiles.api"/>
<plugin id="org.apache.felix.gogo.command"/>
<plugin id="com.springsource.com.ibatis.source"/>
<plugin id="org.eclipse.equinox.console"/>
<plugin id="jackson-mapper-asl"/>
<plugin id="org.apache.tiles.jsp"/>
<plugin id="org.apache.catalina.tribes"/>
<plugin id="org.springframework.web.source"/>
<plugin id="org.springframework.security.acls.source"/>
<plugin id="com.springsource.com.ibatis"/>
<plugin id="javax.servlet"/>
<plugin id="com.springsource.org.apache.commons.digester"/>
<plugin id="org.springframework.security.web"/>
<plugin id="org.apache.el"/>
<plugin id="org.jboss.netty"/>
<plugin id="joda-time.source"/>
<plugin id="org.springframework.js.source"/>
<plugin id="org.apache.felix.gogo.runtime"/>
<plugin id="org.apache.felix.fileinstall"/>
<plugin id="org.springframework.context.support"/>
<plugin id="org.apache.felix.gogo.shell"/>
<plugin id="org.springframework.context.support.source"/>
<plugin id="osgi.enterprise"/>
<plugin id="org.hibernate.validator"/>
<plugin id="org.springframework.webflow.source"/>
<plugin id="org.springframework.web"/>
<plugin id="org.apache.commons.io"/>
<plugin id="org.springframework.beans.source"/>
<plugin id="org.springframework.security.config.source"/>
<plugin id="org.eclipse.gemini.blueprint.core.source"/>
<plugin id="jackson-core-asl"/>
<plugin id="log4j"/>
<plugin id="org.springframework.aop"/>
<plugin id="org.eclipse.gemini.web.core"/>
<plugin id="com.springsource.org.apache.tiles.servlet.source"/>
<plugin id="com.springsource.javax.servlet.jsp.jstl"/>
</includeBundles>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.6"/>
<launcherArgs>
<vmArgs>-Dderby.system.home=${workspace_loc:solarnetwork-osgi-target}/var/db -Dosgi.java.profile=file:config/java6-server.profile -Dorg.apache.felix.eventadmin.Timeout=120000 -Dfelix.fileinstall.dir=configurations/services -Dfelix.fileinstall.filter=.*\.cfg -Dfelix.fileinstall.noInitialDelay=true -Dxml.catalog.files=${workspace_loc:solarnetwork-osgi-lib}/xml-catalog/catalog.xml -Dsn.home=${workspace_loc:solarnetwork-osgi-target}</vmArgs>
</launcherArgs>
</target>
