# SolarNode service customization settings
#
# See the solarnode.service unit file for full options.

# For example, tweak the JVM settings with JAVA_OPTS:
JAVA_OPTS=-Xmx128m \
	-XX:MaxMetaspaceSize=64m \
	-Djava.net.preferIPv4Stack=true \
	-Dcom.sun.management.jmxremote.port=8090 \
	-Dcom.sun.management.jmxremote.rmi.port=8090 \
	-Djava.rmi.server.hostname=127.0.0.1 \
	-Dcom.sun.management.jmxremote.authenticate=false \
	-Dcom.sun.management.jmxremote.ssl=false \
	-Xdebug -Xnoagent -Xrunjdwp:server=y,transport=dt_socket,address=9142,suspend=n

# Tweak the OSGI arguments with OSGI_OPTS:
OSGI_OPTS=-console 4202 -clean
