# SolarNode systemd service unit 

[Unit]
Description=The SolarNode server.

[Service]
Type=simple
Environment=LD_LIBRARY_PATH=/usr/lib/jni:/var/lib/solarnode/lib:/usr/lib
Environment=SOLAR_HOME=/var/lib/solarnode
Environment=RAM_DIR=/run/solarnode
Environment="OSGI_OPTS=-console 4202 -clean"
Environment="JAVA_OPTS=-Xmx192m \
	-XX:MaxMetaspaceSize=96m \
	-Djava.security.egd=file:/dev/./urandom \
	-Djavax.xml.bind.JAXBContextFactory=com.sun.xml.bind.v2.ContextFactory \
	-Djava.net.preferIPv4Stack=true"
EnvironmentFile=-/etc/solarnode/env.conf
User=solar
Group=solar
WorkingDirectory=/var/lib/solarnode

# StateDirectory not supported by systemd 232 (stretch); perhaps in future
# StateDirectory=solarnode/var solarnode/app/main

ExecStart=/usr/bin/java $JAVA_OPTS \
	-Djava.io.tmpdir=${RAM_DIR}/tmp \
	-Djava.util.logging.config.file=${SOLAR_HOME}/conf/jre-logging.properties \
	-Djava.library.path=/usr/lib/jni:${SOLAR_HOME}/lib:/usr/lib \
	-Dsn.home=${SOLAR_HOME} \
	-Dderby.system.home=${RAM_DIR}/db \
	-cp ${SOLAR_HOME}/app/equinox.jar:/usr/share/solarnode/app/ext/* \
	org.eclipse.core.runtime.adaptor.EclipseStarter \
	-configuration ${RAM_DIR} \
	$OSGI_OPTS
ExecStartPre=/bin/sh /usr/share/solarnode/bin/solarnode-utilities.sh start
ExecStopPost=/bin/sh /usr/share/solarnode/bin/solarnode-utilities.sh stop
SuccessExitStatus=143
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
