/backups
/DeveloperCA/
/devices
/db*
/ffmpeg-images/
/flux/
/log/
/mqtt*/
/net.solarnetwork.*/
/settings-bak
/solarnode-data/
/solarnode*.db
/*-backup
/*-reset.*
/upload/
/weberrors/
/yasdi.ini
cache
